.BallCanvas, .PaintCanvas{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;

  @include transition(all 1s ease);

    &_canvas {
      height: 100%;
      width: 100%;
    }
  }

  .CDefense_canvas{
    background: linear-gradient(45deg, rgba(0,1,19,1) 0%,rgba(1,10,53,1) 15%,rgba(1,13,61,1) 60%,rgba(0,1,19,1) 100%);
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @include transition(all 1s ease);
    }
