
.contact{
  text-align: center;
  h1{
    padding-bottom: 20px;
    color: $orange;
    text-decoration: underline;
  }
  a{
    color: $darkGreen;
    &:hover{
      color: $orange;
    }
  }
  p{
    color: $greyBlue;
  }
}
