
header {
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;

  nav {
    right: 15px;
    @include translateY(-50%);

    ul li {
      display: inline-block;
      padding-right: 20px;

      a {
        font-size: 19px;
        line-height: normal;
      }
    }
  }
}

.Nav_Bar{
  position: absolute;
  top: 10px; right: 0;
  max-width: 1000px;
}

.toolbar{
  position: absolute;
  left: 10px;

  @include transition(all .5s ease .5s);
}
